@model Dump.Internship.NoteShare.Models.User

@{
    Layout = null;   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.FullName, "Full Name: ")
            @Html.EditorFor(model => model.FullName)

            <br />
            <br />

            @Html.CheckBoxFor(model => model.IsPremiumUser)
            @Html.LabelFor(model => model.IsPremiumUser, "Is premium")

            <br />
            <br />

            <button type="submit">Save</button>
        }
    </div>
</body>
</html>
